// Typos
$base-font: 'Quicksand';
$alt-font: 'MandelaScript';

// Main colors
$white: #fff;
$blue: #07698f;
$light-blue:#8EB2BF;
$orange: #ff7e67;
$orange-hover: #fe573b;
$green: #69cca2;
$green-hover: #308e66;
$lightgrey: #fff4f2;
$grey: #999;
$dark-grey: #333;
$dark-light-grey: #666;
$red: #F44336;

$line-color: #e0e0e0;

$light-green-pampers: #BAE3E3;
$green-pampers: #00A6A6;
$green-pampers-hover: #0C918E;

$overlay-color : rgba(0, 0, 0, 0.2);

// CTA Colores
$main-cta-color: $green;
$main-cta-color-hover: $green-hover;

$second-cta-color: $orange;
$second-color-hover: $orange-hover;

// Assets Path
$ASSETS_PATH: '../images/';
