<!DOCTYPE html>
<html lang="es" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/assets/images/favicon/site.webmanifest">
		<link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="/assets/images/favicon/favicon.ico">
		<meta name="msapplication-TileColor" content="#ff7e67">
		<meta name="msapplication-config" content="/assets/images/favicon/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">

		<title>Ciudar a tu bebé nunca fue tan simple | Bambox</title>
		<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="/assets/css/app.css">
	</head>
	<body class="landing-pampers">
		<!-- /header -->
		<header class="landing-pampers-header">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="landing-pampers-logo-bambox">
							<img src="/assets/images/logo-bambox-color.svg" alt="logo Bambox">
							<h3>Cuida a tu bebé nunca fue tan simple</h3>
						</div>
					</div>
				</div>
				<section class="landing-pampers-header-description">
					<h2>Ahorrá tiempo y dinero</h2>
					<p>La forma más cómoda para comprar los productos <img src="/assets/images/pampers_color.svg" alt="logo Pamper"> de tu bebé</p>
					<ul class="landing-pampers-header-description-list">
						<li><img src="/assets/images/icon-snow-flake.svg" alt="icon snow flake">¡Precio fijos 4 meses!</li>
						<li><img src="/assets/images/icon-check.svg" alt="icon check">Modificás o Pausás cuando querés</li>
						<li><img src="/assets/images/icon-delivery.svg" alt="icon delivery">¡Envío gratís!</li>
					</ul>
					<a href="/" class="btn btn-green">armar mi bambox</a>
					<a href="/" class="btn btn-white">ver video <img src="/assets/images/icon-youtube.svg" alt="icon youtube"></a>
				</section>
			</div>
		</header>
		<!-- /header -->

		<!-- how-to-receive -->
		<div class="container">
			<h2 class="how-to-receive-title">¿Cómo recibir tu <span>Bambox</span> Pampers?</h2>
			<div class="row">
				<div class="col-md-4">
					<article class="how-to-receive-step right-side-image">
						<figure class="how-to-receive-image">
							<img src="/assets/images/img-how-to-receive_01.jpg" alt="how to step 01">
						</figure>
						<p>Elije tus pañales Pampers y te recomendamos el talle.</p>
					</article>
				</div>
				<div class="col-md-4">
					<article class="how-to-receive-step left-side-image">
						<figure class="how-to-receive-image">
							<img src="/assets/images/img-how-to-receive_02.jpg" alt="how to step 02">
						</figure>
						<p>Programa tu envío cuando y donde quieras.</p>
					</article>
				</div>
				<div class="col-md-4">
					<article class="how-to-receive-step right-side-image">
						<figure class="how-to-receive-image">
							<img src="/assets/images/img-how-to-receive_03.jpg" alt="how to step 03">
						</figure>
						<p>Cada mes modifica tu bambox según las necesidades de tu bebé.</p>
					</article>
				</div>
			</div>
		</div>
		<!-- /how-to-receive -->

		<!-- pattern -->
		<div class="landing-pampers-pattern top"></div>
		<!-- /pattern -->

		<!-- products -->
		<section class="landing-pampers-products">
			<div class="container">
				<h2 class="landing-pampers-products-title">Elegí tu<br> <span>Bambox</span> Pampers <img src="/assets/images/icon-pampers.svg" alt="pampers"></h2>

				<!-- products-carousel -->
				<div class="owl-carousel" id="products-carousel">
					<div class="item">
						<article class="product-item">
							<h2 class="product-item-main-ribbon">RECIEN NACIDO</h2>
							<figure class="product-item-image">
								<img src="/assets/images/placeholder-product.jpg" alt="product">
							</figure>
							<h5 class="product-item-category">Combo de pañales</h5>
							<h2 class="product-item-name">PAMPERS RECIEN NACIDO</h2>
							<ul class="stars-list">
								<li class="star"></li>
								<li class="star"></li>
								<li class="star"></li>
								<li class="star"></li>
								<li class="star-half"></li>
							</ul>
							<p class="product-item-size-title"><span>ELEGIR TALLE</span></p>
							<ul class="product-item-size-options">
								<li>P</li>
								<li>M</li>
								<li>G</li>
								<li>XG</li>
								<li>XXG</li>
							</ul>
							<div class="product-item-discount">
								<div class="product-item-discount-ribbon">
									<span>30% OFF</span>
									<span>x suscripción</span>
								</div>
								<div class="product-item-discount-description">
									<span class="txt-md txt-grey txt-line-through">$1.600</span>
									<span class="txt-lg txt-orange">$13,4/pañal</span>
									<span class="txt-sm txt-black">Total: $1.499</span>
								</div>
							</div>
							<a href="/" class="btn btn-green btn-txt-centered">AGREGAR</a>
						</article>
					</div>
					<div class="item">
						<article class="product-item">
							<figure class="product-item-image">
								<img src="/assets/images/placeholder-product.jpg" alt="product">
							</figure>
							<h5 class="product-item-category">Combo de pañales</h5>
							<h2 class="product-item-name">PAMPERS RECIEN NACIDO</h2>
							<ul class="stars-list">
								<li class="star"></li>
								<li class="star"></li>
								<li class="star"></li>
								<li class="star"></li>
								<li class="star-half"></li>
							</ul>
							<p class="product-item-size-title"><span>ELEGIR TALLE</span></p>
							<ul class="product-item-size-options">
								<li>P</li>
								<li>M</li>
								<li>G</li>
								<li>XG</li>
								<li>XXG</li>
							</ul>
							<div class="product-item-discount">
								<div class="product-item-discount-ribbon">
									<span>30% OFF</span>
									<span>x suscripción</span>
								</div>
								<div class="product-item-discount-description">
									<span class="txt-md txt-black">A partir de</span>
									<span class="txt-lg txt-orange">$13,4/pañal</span>
								</div>
							</div>
							<a href="/" class="btn btn-green btn-txt-centered">AGREGAR</a>
						</article>
					</div>
					<div class="item">
						<article class="product-item">
							<figure class="product-item-image">
								<img src="/assets/images/placeholder-product.jpg" alt="product">
							</figure>
							<h5 class="product-item-category">Combo de pañales</h5>
							<h2 class="product-item-name">PAMPERS RECIEN NACIDO</h2>
							<ul class="stars-list">
								<li class="star"></li>
								<li class="star"></li>
								<li class="star"></li>
								<li class="star"></li>
								<li class="star-half"></li>
							</ul>
							<p class="product-item-size-title"><span>ELEGIR TALLE</span></p>
							<ul class="product-item-size-options">
								<li>P</li>
								<li>M</li>
								<li>G</li>
								<li>XG</li>
								<li>XXG</li>
							</ul>
							<div class="product-item-discount">
								<div class="product-item-discount-ribbon">
									<span>30% OFF</span>
									<span>x suscripción</span>
								</div>
								<div class="product-item-discount-description">
									<span class="txt-md txt-black">A partir de</span>
									<span class="txt-lg txt-orange">$13,4/pañal</span>
								</div>
							</div>
							<a href="/" class="btn btn-green btn-txt-centered">AGREGAR</a>
						</article>
					</div>
					<div class="item">
						<article class="product-item">
							<h2 class="product-item-main-ribbon">RECIEN NACIDO</h2>
							<figure class="product-item-image">
								<img src="/assets/images/placeholder-product.jpg" alt="product">
							</figure>
							<h5 class="product-item-category">Combo de pañales</h5>
							<h2 class="product-item-name">PAMPERS RECIEN NACIDO</h2>
							<ul class="stars-list">
								<li class="star"></li>
								<li class="star"></li>
								<li class="star"></li>
								<li class="star"></li>
								<li class="star-half"></li>
							</ul>
							<p class="product-item-size-title"><span>ELEGIR TALLE</span></p>
							<ul class="product-item-size-options">
								<li>P</li>
								<li>M</li>
								<li>G</li>
								<li>XG</li>
								<li>XXG</li>
							</ul>
							<div class="product-item-discount">
								<div class="product-item-discount-ribbon">
									<span>30% OFF</span>
									<span>x suscripción</span>
								</div>
								<div class="product-item-discount-description">
									<span class="txt-md txt-grey txt-line-through">$1.600</span>
									<span class="txt-lg txt-orange">$13,4/pañal</span>
									<span class="txt-sm txt-black">Total: $1.499</span>
								</div>
							</div>
							<a href="/" class="btn btn-green btn-txt-centered">AGREGAR</a>
						</article>
					</div>
					<div class="item">
						<article class="product-item">
							<figure class="product-item-image">
								<img src="/assets/images/placeholder-product.jpg" alt="product">
							</figure>
							<h5 class="product-item-category">Combo de pañales</h5>
							<h2 class="product-item-name">PAMPERS RECIEN NACIDO</h2>
							<ul class="stars-list">
								<li class="star"></li>
								<li class="star"></li>
								<li class="star"></li>
								<li class="star"></li>
								<li class="star-half"></li>
							</ul>
							<p class="product-item-size-title"><span>ELEGIR TALLE</span></p>
							<ul class="product-item-size-options">
								<li>P</li>
								<li>M</li>
								<li>G</li>
								<li>XG</li>
								<li>XXG</li>
							</ul>
							<div class="product-item-discount">
								<div class="product-item-discount-ribbon">
									<span>30% OFF</span>
									<span>x suscripción</span>
								</div>
								<div class="product-item-discount-description">
									<span class="txt-md txt-black">A partir de</span>
									<span class="txt-lg txt-orange">$13,4/pañal</span>
								</div>
							</div>
							<a href="/" class="btn btn-green btn-txt-centered">AGREGAR</a>
						</article>
					</div>
					<div class="item">
						<article class="product-item">
							<figure class="product-item-image">
								<img src="/assets/images/placeholder-product.jpg" alt="product">
							</figure>
							<h5 class="product-item-category">Combo de pañales</h5>
							<h2 class="product-item-name">PAMPERS RECIEN NACIDO</h2>
							<ul class="stars-list">
								<li class="star"></li>
								<li class="star"></li>
								<li class="star"></li>
								<li class="star"></li>
								<li class="star-half"></li>
							</ul>
							<p class="product-item-size-title"><span>ELEGIR TALLE</span></p>
							<ul class="product-item-size-options">
								<li>P</li>
								<li>M</li>
								<li>G</li>
								<li>XG</li>
								<li>XXG</li>
							</ul>
							<div class="product-item-discount">
								<div class="product-item-discount-ribbon">
									<span>30% OFF</span>
									<span>x suscripción</span>
								</div>
								<div class="product-item-discount-description">
									<span class="txt-md txt-black">A partir de</span>
									<span class="txt-lg txt-orange">$13,4/pañal</span>
								</div>
							</div>
							<a href="/" class="btn btn-green btn-txt-centered">AGREGAR</a>
						</article>
					</div>
				</div>
				<!-- /products-carousel -->
			</div>
		</section>
		<!-- /products -->

		<!-- pattern -->
		<div class="landing-pampers-pattern bottom"></div>
		<!-- /pattern -->

		<!-- info-delivery -->
		<section class="info-delivery">
			<div class="container">
				<h2 class="info-delivery-title">Pedilo hoy, <br> recibilo en tu casa</h2>
				<div class="info-delivery-date">¡el <b>Lunes 18 de Octubre!</b></div>
				<div class="row">
					<div class="col-md-4">
						<h3 class="info-delivery-subtitle">CÓMODO</h3>
						<p class="info-delivery-paragraph">Las mejores marcas para tu bebé en un solo lugar.</p>
					</div>
					<div class="col-md-4">
						<h3 class="info-delivery-subtitle">FLEXIBLE</h3>
						<p class="info-delivery-paragraph">Tu bambox no es fija, podés cambiarla ¡todos los meses!</p>
					</div>
					<div class="col-md-4">
						<h3 class="info-delivery-subtitle">ECONÓMICO</h3>
						<p class="info-delivery-paragraph">Descuento de hasta 30%, precio fijo por 4 meses y envío gratis.</p>
					</div>
				</div>
				<a href="/" class="btn btn-green">pedí tu bambox pampers</a>
			</div>
		</section>
		<!-- /info-delivery -->

		<!-- testimonies -->
		<div class="container">
			<section class="testimonies-wrapper">
				<!-- testimonies-carousel -->
				<div class="owl-carousel" id="testimonies-carousel">
					<div class="item">
						<article class="testimonies-content">
							<article class="testimonies-text">
								<h3 class="testimonies-title">Clientes felices</h3>
								<p class="testimonies-paragraph">Hoy llegó mi primer Bambox. ¡Excelente! No solo el precio, la presentación, la carta personalizada, ¡todo!. Felicitaciones y vamos por mucho más.</p>
								<ul class="stars-list">
									<li class="star"></li>
									<li class="star"></li>
									<li class="star"></li>
									<li class="star"></li>
									<li class="star-half"></li>
								</ul>
								<h5 class="testimonies-name">JULIA PÉREZ</h5>
							</article>
							<div class="testimonies-images">
								<img src="/assets/images/customer_picture_01.jpg" alt="customer image">
								<img src="/assets/images/customer_picture_02.jpg" alt="customer image">
							</div>
						</article>
					</div>
					<div class="item">
						<article class="testimonies-content">
							<article class="testimonies-text">
								<h3 class="testimonies-title">Clientes felices</h3>
								<p class="testimonies-paragraph">Es el producto que recomiendo para los recien nacidos. No tiene perfume.Es muy suave. Lo use hasta los 4 meses de mi bebé.</p>
								<ul class="stars-list">
									<li class="star"></li>
									<li class="star"></li>
									<li class="star"></li>
									<li class="star-half"></li>
								</ul>
								<h5 class="testimonies-name">MARIANA PETIT</h5>
							</article>
							<div class="testimonies-images">
								<img src="/assets/images/customer_picture_03.jpg" alt="customer image">
								<img src="/assets/images/customer_picture_04.jpg" alt="customer image">
							</div>
						</article>
					</div>
					<div class="item">
						<article class="testimonies-content">
							<article class="testimonies-text">
								<h3 class="testimonies-title">Clientes felices</h3>
								<p class="testimonies-paragraph">Súper conforme. Simplemente un peso menos en mi espalda. Ya no más supermercado cada 2 semanas. Lo recomiendo.</p>
								<ul class="stars-list">
									<li class="star"></li>
									<li class="star"></li>
									<li class="star"></li>
									<li class="star"></li>
									<li class="star"></li>
								</ul>
								<h5 class="testimonies-name">ANAHÍ CORMACK</h5>
							</article>
							<div class="testimonies-images">
								<img src="/assets/images/customer_picture_02.jpg" alt="customer image">
								<img src="/assets/images/customer_picture_03.jpg" alt="customer image">
							</div>
						</article>
					</div>
				</div>
				<!-- testimonies-carousel -->
			</section>
		</div>
		<!-- /testimonies -->

		<!-- media-logos -->
		<div class="container">
			<h2 class="media-logos-title">HABLAN DE NOSOTROS</h2>
			<div class="media-logos-images">
				<div class="owl-carousel" id="media-logos-carousel">
					<div class="item"><img src="/assets/images/img-logo-la_nacion.png" alt="logo la nación"></div>
					<div class="item"><img src="/assets/images/img-logo-infobae.png" alt="logo infobae"></div>
					<div class="item"><img src="/assets/images/img-logo-infonegocios.png" alt="logo infonegocios"></div>
					<div class="item"><img src="/assets/images/img-logo-box_clubes.png" alt="logo box & clubes"></div>
					<div class="item"><img src="/assets/images/img-logo-mia.png" alt="logo mia"></div>
					<div class="item"><img src="/assets/images/img-logo-el_cronista.png" alt="logo el cronista"></div>
				</div>
			</div>
		</div>
		<!-- /media-logos -->

		<!-- f.a.q. -->
		<section class="faq-wrapper">
			<div class="container">
				<h2 class="mandela-h2 faq-title">Preguntas frecuentes</h2>
				<ul class="faq-list">
					<li>
						<h4 class="faq-question">¿ Cuánto cuesta ?</h4>
						<div class="faq-answer">Cada Bambox tiene un un precio en función de los productos que elegís. NO hay costo de membresía, NO hay costo de envío! Para que tengas idea para un recién nacido de 4 kg un mes con pañales algodones y oléo sale $1.100.</div>
					</li>
					<li>
						<h4 class="faq-question">¿ Qué significa suscripción mensual ?</h4>
						<div class="faq-answer">Que recibiras tus productos cada 4 semanas. Te podés dar de baja o cambiar los productos cuando querés. Es sin ningún compromiso.</div>
					</li>
					<li>
						<h4 class="faq-question">¿ Qué pasa si me sobran pañales ?</h4>
						<div class="faq-answer">Te los cambiamos sin costo por el tamaño adecuado !</div>
					</li>
					<li>
						<h4 class="faq-question">¿ Qué cantidad de pañales envían ?</h4>
						<div class="faq-answer">Enviamos un mes de pañales acorde al edad y peso de tu bebé. Si no sabés cómo estimarlo, entrá <a href="/">acá que te ayudamos.</a></div>
					</li>
					<li>
						<h4 class="faq-question">¿ Qué ventajas tengo a suscribirme ?</h4>
						<div class="faq-answer">
							<ol>
								<li>No te quedas sin pañales</li>
								<li>No tenés que correr ni buscar, tenés los pañales que vos querés cuando los necesitas.</li>
								<li>¡Ahorrás más! Cuando te suscribis ahorrás hasta 30%</li>
								<li>Precio Fijo: Al suscribirte te mantenemos el valor de los productos por 4 meses</li>
							</ol>
						</div>
					</li>
				</ul>
			</div>
			<div class="overlay-faq"></div>
		</section>
		<!-- /f.a.q. -->

		<!-- footer -->
		<footer class="landing-pampers-footer">
			<article class="landing-pampers-footer-data">
				<h2 class="landing-pampers-footer-title">¿A DONDE LLEGAMOS?</h2>
				<ul class="city-hour">
					<li>
						<img src="/assets/images/icon-map-pointer.svg" alt="icon maps">
						<p><b>Capital Federal</b> Argentina</p>
					</li>
					<li>
						<img src="/assets/images/icon-clock.svg" alt="icon clock">
						<p><b>Horarios</b> 9-13hs / 14-17hs / 18-21hs</p>
					</li>
				</ul>
				<h2 class="landing-pampers-footer-subtitle">MÉTODOS DE PAGO:</h2>
				<ul class="payment-methods">
					<li>
						<img src="/assets/images/img-mercado-pago.jpg" alt="mercado pago">
						<p>
							<b>Pagá con tarjetas o en efectivo</b>
							Tenés cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y es siempre seguro!.
						</p>
					</li>
					<li>
						<img src="/assets/images/img-cash-pay.jpg" alt="pago en efectivo">
						<p><b>Efectivo contra entrega</b></p>
					</li>
				</ul>
				<h2 class="landing-pampers-footer-subtitle">COMPRÁ SEGURA:</h2>
				<div class="footer-logos">
					<img src="/assets/images/logo-lets-encrypt.png" alt="logo Lets Encrypt">
					<img src="/assets/images/logo-ssl.png" alt="logo Lets SSL">
					<img src="/assets/images/logo-cace.png" alt="logo CACE">
				</div>
			</article>
			<figure class="footer-map">
				<img src="assets/images/img-zona-entrega-bambox.jpg" alt="zona de entrega Bambox">
			</figure>
		</footer>
		<!-- /footer -->

		<!-- JS -->
		<script>
			let faqQuestions = Array.from(document.querySelectorAll('.faq-question'));

			faqQuestions.forEach(question => {
				question.addEventListener('click', () => {
					let self = question;
					self.classList.toggle('active');
				});
			});
		</script>

		<script src="/assets/js/jquery.min_3.1.1.js"></script>
		<script src="/assets/js/owl.carousel.js"></script>
		<script>
		/* global $ */
		$('#products-carousel').owlCarousel({
			loop: true,
			dots: true,
			responsiveClass: true,
			items: 1,
			responsive: {
				768: { items: 2 },
				992: { items: 3 }
			}
		});
		$('#testimonies-carousel').owlCarousel({
			loop: true,
			dots: true,
			margin: 10,
			responsiveClass: true,
			items: 1
		});
		$('#media-logos-carousel').owlCarousel({
			loop: true,
			dots: false,
			responsiveClass: true,
			items: 3,
			responsive: {
				576: { items: 6 }
			}
		});
	</script>
	</body>
</html>
